---
// imports
import type { JobProps } from "@/types/job";
import { formatDatetime } from "@/lib/utils";

const { data } = Astro.props;
const {
  title,
  company,
  location,
  description,
  startDate,
  endDate,
  list,
  currentJob,
  technologies,
} = data as JobProps;
---

<details class="w-full flex flex-col group">
  <summary class="w-full bg-zinc-800 p-4 rounded-md overflow-hidden list-none">
    <h3 class="text-xl font-bold">
      {title}
      <span class="group-open:hidden">+</span>
      <span class="hidden group-open:inline">-</span>
    </h3>
    <div class="flex items-center gap-4">
      <div class="bg-cyan-500 text-white px-2 py-1 rounded-full text-sm">
        {formatDatetime(startDate)} - {
          currentJob ? "Present" : formatDatetime(endDate)
        }
      </div>
      <h4 class="truncate text-lg font-bold text-cyan-500 m-0">{company}</h4>
      <span class="text-sm font-bold">/</span>
      <p class="truncate m-0">{location}</p>
    </div>
  </summary>

  <div class="w-full flex flex-col gap-4 mt-4">
    <div>
      {description}
    </div>
    <ul style="list-style: disc;">
      {list.map((item: string) => <li>{item}</li>)}
    </ul>
    <div>
      <div class="text-base font-bold">Stack</div>
      <div>
        {technologies.join(", ")}
      </div>
    </div>
  </div>
</details>
