---
// imports
import type { ImageMetadata } from "astro";

// components
import { Image } from "astro:assets";
import Social from "./Social.astro";

// profile config
import { PROFILE } from "@/config";

// avatar image
const avatar = PROFILE.avatar;

// path
const avatarPath = `/src/assets/${avatar}`;

// images
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);

// throw error if avatar does not exist
if (!images[avatarPath])
  throw new Error(
    `"${avatarPath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );

const { name, title } = PROFILE;
---

<div class={"w-full flex"}>
  <div class="w-full flex flex-col sm:flex-row items-center gap-6">
    <div
      class={"border-[3px] border-fuchsia-500 p-1.5 rounded-full "}
      style={{ overflow: "hidden" }}
    >
      <Image
        class="rounded-full w-[130px] md:w-[140px] object-cover"
        src={images[avatarPath]()}
        alt="profile avatar"
        loading="eager"
      />
    </div>
    <div class={"profile-info flex flex-col gap-2 w-full"}>
      <div class="info">
        <h1 class={"text-2xl md:text-3xl lg:text-4xl xl:text-4xl text-n900"}>
          &gt; {name}_
        </h1>
        <p class={"text-base text-n500"}>{title}</p>
      </div>
      <Social />
    </div>
  </div>
</div>
